body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

header {
	background: url(../images/bg.png);
	height: 400px;
}

header .wrapper {
	width: 70%;
	padding-top: 100px;
	text-align: center;
}

h1 {
	font-size: 40px;
}

h1, h2 {
	color: #FCFAF7;
	margin-top: 0;
}

section {
	padding: 20px;
}

section:nth-child(even) {
	background: #3CB4B0;
}

section:nth-child(odd) {
	background: #38A8A5;
}

pre {
	background: #FCFAF7;
}

button {
	height: 50px;
	width: 150px;
	background: #D4EECD;
	color: #D98C8C;
	border: none;
	display: block;
	margin: 0 auto;
	font-size: 18px;
	border-radius: 4px;
	font-family: 'Montserrat', sans-serif;
}

button:hover {
	background: #C6E8BA;
	cursor: pointer;
}

button:focus {
	border: none;
}

p {
	text-align: center;
	color: #FCFAF7;
	font-size: 20px;
	font-style: italic;
}



