body {
	
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}


.bgimage {
	background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/bg.jpg');
  background-position: center center;
  background-size: cover;
  height: 400px;
  
}

.bgcontainer {
	margin-top: 70px;
	padding: 20px;
	background-color: rgba(22, 73, 0, .5);
}

.bgimage form {
	padding: 20px 0 20px 0;
}

.bgimage p {
	color: white;
	font-size: 20px;
	font-style: italic;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default .navbar-brand {
	color: #337ab7; 
	font-size: 25px;
}

.navbar-default .navbar-brand:hover {
	color: #FF9B42;
}

.navbar-default .navbar-nav > li > a {
	color: #337ab7;
}

.navbar-default .navbar-nav > li > a:visited {
	color: #337ab7;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #FF9B42;
}

.navbar-btn {
	background: #F3CA40;
	color: #337ab7;
	border: none;
	font-size: 18px;
}

.navbar-btn:hover {
	background: #FF9B42;
	color: white;
}

.navbar-btn .btnprimary:focus {
	background: #FF9B42;
	color: white;
}

.navbar-brand {
	font-family: 'Crete Round', serif;
}


h1, h2, h3 {
	color: white;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Crete Round', serif;
}

.form-inline .form-control {
	width: 70%;
}

h2 {
	font-size: 30px;
}

.modal-title {
	font-size: 30px;
}

#shop {
	/*color: #449933;*/
	color: #447E08;
	text-align: center;
}

#eat {
	color: #FF9B42;
}

#share {
	color: #6A3EBB;
}

#go {
	background: #F3CA40;
	border: none;
	color: #337ab7;
}

#go:hover {
	background: #FF9B42;
	color: white;
}

#landing {
	margin-top: 50px;
	margin-bottom: 50px;
}

#landing img {
	border-radius: 50%;
}

form p {
	margin-top: 10px;
}

#signin h3 {
	color: #FF9B42;
}

#signin .btn-primary {
	background: #FF9B42;
	color: white;
	border: none;
}

footer {
	background: #666;
	color: white;
}

footer a {
	color: white;
	
	padding-bottom: 3px;
}

footer a:hover {
	color: #F3CA40;
	text-decoration: none;
}

footer h6 {
	font-size: 17px;
	color: white;
}

/* recipes 
============================================*/

.recipeimg {
	background: url('../images/recipebg.jpg');
	background-position: center center;
	background-size: cover;
	height: 300px;
}

.recipebg {
	background: rgba(247, 252, 250, .7);
	width: 300px;
	height: 200px;
	padding: 10px;
}

.recipebg h1 {
	margin-top: 0;
	color: black;
	border-bottom: 2px dotted black;
	padding-bottom: 5px;
}

.recipebg p {
	font-size: 20px;
	font-style: italic;
}

.tab-content {
	margin-top: 20px;
	text-align: center;
}

.nav-tabs > li.active > a {
	color: #FF9B42;
}

.nav-tabs > li.active > a:focus {
	color: #FF9B42;
}

.nav-tabs > li.active > a:hover {
	background: #FF9B42;
	color: white;
}

.nav-tabs > li > a {
	color: #FF9B42;
}

.nav-tabs > li > a:hover {
	background: #FF9B42;
	color: white;
}

.tab-pane a {
	color: #FF9B42;
}

.tab-pane p {
	font-style: italic;
	font-size: 14px;
	color: #337ab7;
}


